.equationInline {
  display: inline;
  padding: 0 0.2em;
}

.equationBlock {
  display: block;
  margin: 1em 0;
  overflow-x: auto;
}

/* KaTeX override for better integration */
.equationBlock .katex {
  font-size: 1.1em;
}

.equationInline .katex {
  font-size: 1em;
}
